<section class="dashboard-main">
  <h1> <%= @facade.first_name %>'s Dashboard </h1>
  <div class="Status">
    <% if @facade.status %>
      <p> "Status: Active" </p>
    <% end  %>
  </div>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%= button_to 'Connect to Github', github_path, method: 'get', class: 'btn btn-primary' %>
  <%= button_to 'Send an Invite', invite_path, method: 'get', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= @facade.first_name  %> <%= @facade.last_name %> </li>
    <li> <%= @facade.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <ul class="Bookmarks">
      <% @facade.bookmarks.each do |video| %>
        <li class="Video">Tutorial Name: <%= video.tutorial_title %> | Video: <%= video.title %>| Position: <%= video.position %></li>
      <% end  %>
    </ul>
    <% if @facade.repos %>

      <h1>Github</h1>
      <ul class="github_repos">
        <% @facade.repos.each do |repo| %>
          <li ><a href="<%=repo.html_url%>" class="name"><%= repo.name %></a></li>
        <% end %>
      </ul>
    <% end %>
    <% if @facade.followers %>
      <h1>Followers</h1>
      <ul class="followers">
        <% @facade.followers.each do |follower| %>
        <li ><a href="<%=follower.html_url%>"
           class="login"><%= follower.login %></a>
           <% if follower.saved_user? %>
            (<%= link_to "Add Friend", friendship_path(:friend_id => follower.id), action: :post %>)</li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <% if @facade.following %>
      <h1>Following</h1>
      <ul class="following">
        <% @facade.following.each do |follow| %>
          <li ><a href="<%=follow.html_url%>" class="follow_login"><%= follow.login %></a>
            <% if follow.saved_user? %>
             (<%= link_to "Add Friend", friendship_path(friend_id: follow.id), action: :post %>)</li>
           <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <h1>Friends</h1>
    <ul class="friends">
      <% @facade.friends.each do |friend| %>
      <li><%= friend.first_name %> <%= friend.last_name %></li>
      <% end %>
    </ul>
  </section>
</section>
